@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-700;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Utility class to add padding to compensate for hidden scrollbar */
.compensate-scrollbar {
    @apply pr-4; /* Adjust this padding value based on your need */
}
